@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
}

/* scroll margin top */
html {
  scroll-padding-top: 50px;
}

.mask-custom {
  -webkit-mask-image: url('/assets/images/about-us-mask.svg'); /* A máscara, agora JPG */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url('/assets/images/about-us-mask.svg');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}
